name: Daily SRS Merge

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 16 * * *"
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
      - uses: actions/checkout@v4

      - name: Mkdir
        run: |
          mkdir -p temp
          mkdir -p srs

      - name: Run merge script
        run: sh merge-srs.sh

      - name: Commit and push srs if changed
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: Daily srs merge"
          file_pattern: "srs/*.srs"
