name: Daily srs merge

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 16 * * *"
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Mkdir
        run: |
          mkdir -p temp srs srs/json srs/json/same

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: '**/requirements.txt'

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y jq  libre2-dev

      - name: Install sing-box
        run: |
          curl -fsSL https://sing-box.app/install.sh | sh

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pybind11
          pip install -r py/requirements.txt

      - name: Run merge script
        run: bash srs/merge-srs.sh

      - name: Commit and push if changed
        run: |
          git add srs/*.srs srs/json/*.json
          if find srs/json/same -name "*.json" | grep -q .; then
            git add srs/json/same/*.json
          fi
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git config --global user.name "GitHub Actions"
            git config --global user.email "actions@github.com"
            git commit -m "chore: Daily srs merge"
            git push
          fi
